@font-face {
    font-family: MyFont;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

:root {
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%); 
    --Grey: hsl(231, 7%, 60%); 
    --White: hsl(0, 0%, 100%); 
    --Tomato: hsl(4, 100%, 67%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--Dark-Slate-Grey);
    font-family: MyFont;
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 85vh;
}

.card{
    display: flex;
    padding: 20px;
    background-color: var(--White);
    height: auto;
    width: 750px;
    border-radius: 15px;
    margin-top: 70px;
}

.left{
    width: 40%;
}

.right{
    width:100%;
}

li {
    list-style-image: url('./assets/images/icon-success.svg');
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    width:300px;
    padding: 20px;
}

label{
    margin-bottom: 10px;
}

input{
    padding:10px 20px;
    margin-bottom:10px;
    border-radius:2px;
    border:none;
    width: 260px;
    height: 50px;
    font-family: inherit;
    outline:none;
}

button{
    background-color: var(--Charcoal-Grey);
    height: 55px;
    border:solid whitesmoke; 
    border-radius:5px; 
    color:var(--White);
    font-size: 500;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

button:hover{
    background-image: linear-gradient(orange 70%,orange 2%);
    /* box-shadow: orange; */
}

.hide{
    display: none;
}

.card-2{
    border-radius: 8px;
    background-color: white;
    width: 400px;
    padding: 20px;
}

.card-2{
    font-size: 15px;
}

.icon-card-s{
    width: 40px;
}

.card-2 button{
    width: 100%;
}

@media (max-width: 768px) {
    .card {
      flex-direction: column-reverse;
      width: 95%;
      padding: 0;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .card h1 {
      font-size: 30px;
    }
    .right {
      width: 100%;
      padding: 20px;
    }
    .left {
      width: 100%;
    }
    .left img {
      content: url("./assets/images/illustration-sign-up-mobile.svg");
      margin-left: 25px;
    }
    form {
      width: 90%;
    }
    .card-2 {
        margin-top: 50px;
      min-height: 90vh;
    }
  }